<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://api.microsofttranslator.com/V2/soap.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService"
        contract="MicrosoftTranslator.LanguageService" name="BasicHttpBinding_LanguageService" />
      <endpoint address="http://api.microsofttranslator.com/V2/soap.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_LanguageService1"
        contract="MicrosoftTranslator.LanguageService" name="BasicHttpBinding_LanguageService1" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_LanguageService" />
        <binding name="BasicHttpBinding_LanguageService1" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="BindConfig">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="GameService.Game">
        <endpoint address="" binding="wsDualHttpBinding" contract="GameService.IGamePlayer" />
        <endpoint address="mex" binding="mexHttpBinding" contract="GameService.IGameManager" /> </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
