<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGamePlayer" />
                <binding name="BasicHttpBinding_IGameManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50338/Game.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGamePlayer" contract="TP3.IGamePlayer"
                name="BasicHttpBinding_IGamePlayer" />
            <endpoint address="http://localhost:50338/Game.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGameManager" contract="TP3.IGameManager"
                name="BasicHttpBinding_IGameManager" />
        </client>
    </system.serviceModel>
</configuration>