<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IGamePlayer" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IGameManager">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50338/Game.svc" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IGamePlayer" contract="ServiceReference1.IGamePlayer"
                name="WSDualHttpBinding_IGamePlayer">
                <identity>
                    <userPrincipalName value="MYCOMPUTER\Oksana" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:50338/Game.svc/mex" binding="wsHttpBinding"
                bindingConfiguration="MetadataExchangeHttpBinding_IGameManager"
                contract="ServiceReference1.IGameManager" name="MetadataExchangeHttpBinding_IGameManager" />
        </client>
    </system.serviceModel>
</configuration>